@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #191919;
    background-color: #faf8ef;
  }

  #root {
    padding: 30px 15% 0 10%;
  }
}

@layer components {

  .fill_in {

    .script {
      @apply flex mb-2;

      h3 {
        @apply text-xl min-w-28 max-w-28 font-bold text-ellipsis text-nowrap overflow-hidden mr-4;
      }

      p {
        @apply text-xl leading-8 break-words;
      }

      .blank {
        @apply mx-2;
      }

      input {
        @apply w-[25px] h-[25px] outline outline-2 outline-gray-300 text-center;


        &:focus {
          @apply outline-2 outline-pink-500 z-10 relative;
        }
      }

    }
  }

  .logo {
    @apply relative;

    >.text {

      @apply text-6xl font-bold absolute;

      text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;

      $increment-left: var(--x-distance, 6px);
      $increment-top: var(--y-distance, 4px);

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          left: #{calc(($i - 1) * $increment-left)};
          top: #{calc(($i - 1) * $increment-top)};
        }
      }
    }
  }

  .episode {
    >header {
      @apply h-28;
    }

    >main {
      @apply flex flex-nowrap gap-12;

      .meta {
        flex: 1 0 50%;

        h1 {
          @apply text-3xl font-bold;
        }
      }

      .pro {
        height: 1000px;
        max-height: 1000px;
        overflow-y: auto;
        padding-right: 15px;

        &::-webkit-scrollbar {
          width: 16px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #D93D86;
          outline: 2px solid black;
        }
      }
    }
  }
}