@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FBFAF5;
  }
}

@layer components {

  .fill_in {
    @apply p-6;

    .script {
      @apply flex mb-2;

      h3 {
        @apply text-xl min-w-28 max-w-28 font-bold text-ellipsis text-nowrap overflow-hidden mr-4;
      }

      p {
        @apply text-xl;
      }


      input {
        width: 30px;
        border: 1px solid #333;
      }

    }
  }

  .logo {
    @apply relative;

    >.text {

      @apply text-6xl font-bold absolute;

      text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;

      $increment-left: var(--x-distance, 6px);
      $increment-top: var(--y-distance, 4px);

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          left: #{calc(($i - 1) * $increment-left)};
          top: #{calc(($i - 1) * $increment-top)};
        }
      }
    }
  }
}